.container {
  padding: 0 20px;
  margin-top: -340px;
}

.content {
  background: var(--ifm-color-primary-lighter);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.content h1 {
  color: var(--ifm-color-primary);
  font-size: 64px;
  font-weight: 700;
}

.button {
  margin: 15px;
  height: 72px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  align-self: center;
}

.code {
  background: #F0F0F0;
  border: 2px solid var(--ifm-color-primary);
  border-radius: 10px;
  height: 400px;
}
