.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--ifm-color-primary-lighter);
  padding: 48px 20px;
  font-family: 'TT Norms Pro';
}

.container > h2 {
  color: var(--ifm-color-primary);
  font-size: 48px;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content > h1 {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  color: var(--ifm-color-primary);
  font-size: 72px;
  margin: 0;
}

.content > span {
  color: var(--ifm-color-primary);
  font-size: 22px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.buttonsContainer a {
  margin-bottom: 10px;
}

.image {
  background: var(--ifm-color-primary-lightest);
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 25px 0;
  margin-top: 32px;
  position: relative;
  overflow: hidden;
}

.image > h1 {
  font-weight: 700;
  color: var(--ifm-color-primary);
  font-size: 48px;
  margin: 0;
}

.image > span:not(.sideLabel) {
  font-size: 20px;
  color: var(--ifm-color-primary);
  margin-bottom: 20px;
}

.sideLabel {
  color: var(--ifm-color-primary-lightest);
  background: var(--ifm-color-primary);
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 14px;
  white-space: pre-line;
  position: absolute;
  width: 200px;
  top: 25px;
  right: -50px;
  left: auto;
  text-align: center;
  letter-spacing: 0.5px;
  transform: rotate(45deg);
}
